/* Main */

body {
	margin: 0 auto;
	background-color: gainsboro;
}

header h1 {
	padding: 30px 0 30px;
	text-align: center;
	margin: 0 0 40px;
	border: 5px solid slategray;
	font-family: 'Indie Flower', cursive;

}

/* Info */

.info {
    text-align: center;
}

.form {
    width: 50%;
	margin-top: 10em;
	margin-left: auto;
	margin-right: auto;
	font-family: 'Indie Flower', cursive;
}

label {
	display: block;
	color: seagreen;
}

input {
	text-align: center;
	background-color: azure;
	border-radius: 6px;
	margin-bottom: 10px;
}

.buttons {
	margin-top: 10px;
    padding-top: 1em;
    text-align: center;

}

button {
	height: 2em;
	border-radius: 6px;
	margin-bottom: 20px;
	margin-right: 5px;
	outline: none;
}

button:hover {
	background-color: lightskyblue;
}

#deleteInfo {
	font-size: 20px;
	color: seagreen;
}

/* Show */

#show {
	color: midnightblue;
	font-family: 'Poiret One', cursive;
	margin-top: 169px;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.client {
	margin-bottom: 50px;
	text-align: center;
}

li {
	width: 28%;
	height: 200px;
	float: left;
	margin-left: 10px;
	margin-top: 10px;
	/*overflow: auto;*/
	text-align: center;
}

img[src*="images"] {
	max-width: 100%;
    height: auto;
	vertical-align: top;
	border-radius: 10%;
	-ms-transform: rotate(90deg); /* IE 9 */
	-webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
	transform: rotate(90deg);
}

ul {
	list-style: none;
}

#dogPackTitle {
	text-align: center;
	margin-top: 6em;
}

#dogName {
	text-align: center;
	font-size: 1.35em;
	color: black;
}

#wrapper {
	margin: 0 auto;
	width: 50%;
}

#clientDogName, 
#clientInfo, 
h3 {
	text-align: center;
}

#clientDogPic {
	position: absolute;
	top: 33%;
	left: 65%;
	width: 30%;
	height: 30%;
}

#clientDogPic img {
	max-width: 100%;
	height: auto;
	border-radius: 50%;
	-ms-transform: rotate(90deg); /* IE 9 */
	-webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
	transform: rotate(90deg);
}

#clientWrapper {
	margin-top: 4.5em;
	font-size: 2em;
	font-family: 'Indie Flower', cursive;
}

#add {
	float: right;
	margin-right: 69px;
	padding: 10px;
	font-size: 1.35em;
	color: gainsboro;
	background-color: black;
}

#add:hover {
	background-color: gainsboro;
	color: black;
	border: solid black 2px;
}

#add a {
	text-decoration: none;
	color: inherit;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
	background-color: gainsboro;
}

#dogPack {
	font-family: 'Indie Flower', cursive;
	margin-top: 169px;
}

#clientDogName h1 {
	margin-bottom: 0;
}

#clientInfo h2,
#clientInfo h3 {
	margin-top: 0;
	margin-bottom: 20px;
}

.return {
	text-align: center;
	font-size: 1.35em;
	margin-top: 32px;
	font-size: 25px;
}

.return a {
	color: black;
}

.client img {
	width: 33%;
	height: auto;
	border-radius: 10%;
}

#displayImage {
	margin-top: 20px;
}

#goToClient {
	margin-top: 69px;
	font-size: 1.35em;
	float: left;
}