body {
	margin: 0 auto;
	background-color: #F5F5F5;
}

label {
	display: block;
	font-weight: bold;
	font-size: 1.2em;
}

input {
	text-align: center;
	background-color: #CEF1ED;
	border-radius: 6px;
	margin-bottom: 10px;
}

.buttons {
	margin-top: 10px;
    padding-top: 1em;
    text-align: center;

}

button {
	height: 2em;
	border-radius: 6px;
	margin-bottom: 20px;
	margin-right: 5px;
	outline: none;
}

button:hover {
	background-color: #CEF1ED;
}

#deleteInfo {
	font-size: 1.15em;
	padding-top: 0;
	margin-top: 5px;
}

li {
	width: 28%;
	float: left;
	overflow: hidden;
	text-align: center;
}

li a {
	color: black;
}

img[src*="images"] {
	-ms-transform: rotate(90deg); /* IE 9 */
	-webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
	transform: rotate(90deg);
}

ul {
	list-style: none;
}

#loading {
	width: 275px;
}

#dogPackTitle {
	margin-top: 20px;
	margin-bottom: 35px;
}

#dogName {
	margin-top: 15px;
	margin-bottom: 25px;
	text-align: center;
	font-size: .8em;
	color: black;
}

#clientDogName, 
#clientInfo {
	text-align: center;
}

#clientDogPic img {
	margin-top: 15px;
	border-radius: 50%;
	-ms-transform: rotate(90deg); /* IE 9 */
	-webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
	transform: rotate(90deg);
}

#clientWrapper {
	margin-top: 50px;
	font-size: 1.5em;
	font-family: 'Indie Flower', cursive;
}

#add:hover {
	background-color: #CEF1ED;
	color: black;
	border: solid black 2px;
}

#add a {
	text-decoration: none;
	color: inherit;
}

#infoForm {
	font-family: 'Indie Flower', cursive;
	text-align: center;
	font-size: .5em;
}

#clientInfo h2,
#clientInfo h3 {
	margin-top: 0;
	margin-bottom: 20px;
}

.return {
	text-align: center;
	font-size: 1em;
	margin-top: 32px;
}

.return a {
	color: black;
}

#goToClient {
	margin-bottom: 50px;
	font-family: 'Indie Flower', cursive;
	font-size: 1.4em;

}

#addUpdate {
	font-size: 1.4em;
	text-align: center;
}

#dogPack {
	margin-left: -55px;
}

@media (min-width: 768px) {
	#dogName {
		font-size: 1em;
	}

	#infoForm {
		font-size: .8em;
	}

	#clientDogName h1 {
		font-size: 2em;
	}

	#clientInfo h2,
	#clientInfo h3 {
		font-size: 1.5em;
	}

	.return {
		font-size: 1.2em;
	}
}

@media (min-width: 992px) {
	#dogName {
		font-size: 1.2em;
		margin-top: 25px;
	}

	#clientDogName h1 {
		font-size: 2.3em;
	}
	
	#clientInfo h2,
	#clientInfo h3 {
		font-size: 1.8em;
	}

	.return {
		font-size: 1.5em;
	}

	#clientDogPic img {
		width: 75%;
	}
}